# HOS04 - Section 3: Pandas Object

In [1]:
# Pandas object creation
import pandas as pd

## Create Series data structure

In [2]:
series = pd.Series([1, 3, 5, 6, 8])
series

0    1
1    3
2    5
3    6
4    8
dtype: int64

## DataFrame
By default, pandas creates indexes for us, but we can specify them with parameter "index"  
See the different tables from DataFrame below.

In [3]:
data = {
    'apples': [3, 2, 0, 1],
    'oranges': [0, 3, 7, 2],
    'peaches': [2, 4, 6, 8]
}
fruits = pd.DataFrame(data)  # create DataFrame with 3 columns
fruits

   apples  oranges  peaches
0       3        0        2
1       2        3        4
2       0        7        6
3       1        2        8

In [4]:
buyer = pd.DataFrame(data, index=['Tom', 'Isabelle', 'Daisy', 'Blathers'])
buyer

          apples  oranges  peaches
Tom            3        0        2
Isabelle       2        3        4
Daisy          0        7        6
Blathers       1        2        8